.App {
    max-width: 900px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 3px solid #282c34;
    padding: 30px 30px 30px 50px;
    border-radius: 15px;
}

.App-link {
    color: #61dafb;
}